.root{
    background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
    border: 0;
    border-radius: 3;
    box-shadow: 0 3px 5px 2px rgba(255, 105, 135, .3);
    color: white;
    height: 48;
    font-size: 12px;
    padding: 0 30px;
  
}

.rightAlignment{
  float:right;
  margin-left: auto;
  margin-right: 0;
  
}
.heading{
  padding-left: 10px;
}
.inputSpacing{
  margin-right: 10px!important;
  margin-left: 15px!important;
  margin-top: 5px!important;
  color: white!important;
}